<?xml version="1.0"?>
<launch>
  <!-- Arguments -->
  <arg name="scan_topic"     default="scan"/>
  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>

  <arg name="initial_cov_xx" default="0.001"/>
  <arg name="initial_cov_yy" default="0.001"/>
  <arg name="initial_cov_aa" default="0.001"/>

  <!-- Amcl -->
  <node pkg="amcl" type="amcl" name="amcl" clear_params="true" respawn="true" output="screen">
    <rosparam command="load" file="$(find raspicat_waypoint_navigation)/config/param/amcl.yaml" />
    <param name="initial_pose_x"            value="$(arg initial_pose_x)"/>
    <param name="initial_pose_y"            value="$(arg initial_pose_y)"/>
    <param name="initial_pose_a"            value="$(arg initial_pose_a)"/>
    <param name="initial_cov_xx"            value="$(arg initial_cov_xx)"/>
    <param name="initial_cov_yy"            value="$(arg initial_cov_yy)"/>
    <param name="initial_cov_aa"            value="$(arg initial_cov_aa)"/>

    <remap from="scan"                      to="$(arg scan_topic)"/>
  </node>
</launch>
