<launch>
  <!-- Arguments -->
  <arg name="scan_topic"      default="/scan"/>
  <arg name="initial_pose_x"  default="0.0"/>
  <arg name="initial_pose_y"  default="0.0"/>
  <arg name="initial_pose_a"  default="0.0"/>

  <!-- Emcl2 -->
  <node pkg="emcl2" type="emcl2_node" name="emcl2_node" output="screen">
    <rosparam command="load" file="$(find raspicat_waypoint_navigation)/config/param/emcl2.yaml"/>
    <param name="initial_pose_x"                  value="$(arg initial_pose_x)"/>
    <param name="initial_pose_y"                  value="$(arg initial_pose_y)"/>
    <param name="initial_pose_a"                  value="$(arg initial_pose_a)"/>
    <remap from="scan"    to="$(arg scan_topic)"/>
  </node>
</launch>