<?xml version="1.0"?>
<launch>
  <!-- Arguments -->
  <arg name="open_rviz"             default="true"/>
  <arg name="move_forward_only"     default="false"/>
  <arg name="waypoint_navigation"   default="true"/>
  <arg name="mcl_map_file"          default="$(find raspicat_navigation)/config/maps/tsudanuma/map_tsudanuma.yaml"/>
  <arg if="$(arg waypoint_navigation)"      name="move_base_map_file"    default="$(find raspicat_navigation)/config/maps/for_move_base/map_tsudanuma.yaml"/>　
  <arg unless="$(arg waypoint_navigation)"  name="move_base_map_file"    default="$(arg mcl_map_file)"/>　
  <arg name="waypoint_yaml_file"    default="$(find raspicat_navigation)/config/waypoint/waypoint.yaml"/>

  <arg name="mcl"                   default="amcl" doc="model type [amcl, emcl2, mcl_ros]"/>
  <arg name="mcl_init_pose_x"       default="0.0"/>
  <arg name="mcl_init_pose_y"       default="0.0"/>
  <arg name="mcl_init_pose_a"       default="0.0"/>

  <!-- Motor on off -->
  <node pkg="raspicat_navigation" name="motor_start" type="motor_start.py" required="true" output="screen"/>

  <!-- Map server -->
  <node pkg="map_server" name="mcl_map_server" type="map_server" args="$(arg mcl_map_file)"/>

  <node pkg="map_server" name="move_base_map_server" type="map_server" args="$(arg move_base_map_file)">
    <remap from="map"         to="/move_base_map"/>
    <remap from="static_map"  to="/move_base_static_map"/>
  </node>

  <!-- Amcl -->
  <include file="$(find raspicat_navigation)/launch/amcl.launch">
    <arg name="initial_pose_x" value="$(arg mcl_init_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg mcl_init_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg mcl_init_pose_a)"/>
  </include>

  <!-- Move base -->
  <include file="$(find raspicat_navigation)/launch/move_base.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
    <arg name="waypoint_nav"      value="$(arg waypoint_navigation)"/>
  </include>

  <!-- Waypoint Nav -->
  <node if="$(arg waypoint_navigation)" pkg="raspicat_navigation" name="WaypointNav_node" type="WaypointNav_node" output="screen">
      <rosparam command="load" file="$(arg waypoint_yaml_file)"/>
  </node>

  <!-- RViz -->
  <node if="$(arg open_rviz)" pkg="rviz" type="rviz" name="rviz" required="true"
    args="-d $(find raspicat_navigation)/config/rviz/raspicat_navigation.rviz">
  </node>
</launch>