<?xml version="1.0"?>
<launch>
  <!-- Arguments -->
  <arg name="imu"         	default="false"/>
  <arg name="urg"         	default="false"/>
  <arg name="rplidar"     	default="false"/>
  <arg name="vlp16"       	default="false"/>
  <arg name="lidar_ether" 	default="false"/>
  <arg name="lidar_usb"   	default="false"/>
  <arg name="imu_serial_port"   default="/dev/ttyACM1"/>
  <arg name="lidar_serial_port" default="/dev/ttyACM0"/>
  <arg name="lidar_ip_address"  default="192.16.0.10"/>

  <arg name="navigation"            default="true"/>
  <arg name="waypoint_navigation"   default="true"/>
  <arg name="usens_conv"            default="false"/>
  <arg name="speak"                 default="true"/>
  <arg name="move_forward_only"     default="false"/>
  <arg name="mcl_map_file"          default="$(find raspicat_waypoint_navigation)/config/maps/tsudanuma_2_19/map_tsudanuma_2_19.yaml"/>
  <arg if="$(arg waypoint_navigation)"      name="move_base_map_file"    default="$(find raspicat_waypoint_navigation)/config/maps/for_move_base/map_tsudanuma_2_19.yaml"/>
  <arg unless="$(arg waypoint_navigation)"  name="move_base_map_file"    default="$(arg mcl_map_file)"/>
  <arg name="waypoint_yaml_file"    default="$(find raspicat_waypoint_navigation)/config/waypoint/waypoint.yaml"/>

  <arg name="mcl"                   default="amcl" doc="model type [amcl, emcl2, mcl_ros]"/>
  <arg name="mcl_init_pose_x"       default="0.0"/>
  <arg name="mcl_init_pose_y"       default="0.0"/>
  <arg name="mcl_init_pose_a"       default="0.0"/>

  <!-- Raspicat nodes -->
  <include file="$(find raspicat_bringup)/launch/raspicat_bringup.launch">
    <arg name="imu"               value="$(arg imu)"/>
    <arg name="urg"               value="$(arg urg)"/>
    <arg name="rplidar"           value="$(arg rplidar)"/>
    <arg name="vlp16"             value="$(arg vlp16)"/>
    <arg name="lidar_ether"       value="$(arg lidar_ether)"/>
    <arg name="lidar_usb"         value="$(arg lidar_usb)"/>
    <arg name="imu_serial_port"   value="$(arg imu_serial_port)"/>
    <arg name="lidar_serial_port" value="$(arg lidar_serial_port)"/>
    <arg name="lidar_ip_address"  value="$(arg lidar_ip_address)"/>
  </include>

  <!-- Motor on off -->
  <node pkg="raspicat_waypoint_navigation" name="motor_start" type="motor_start.py" required="true" output="screen"/>
  
  <group if="$(arg navigation)">
	  <!-- Map server -->
	  <node pkg="map_server" name="mcl_map_server" type="map_server" args="$(arg mcl_map_file)"/>

	  <node pkg="map_server" name="move_base_map_server" type="map_server" args="$(arg move_base_map_file)">
	    <remap from="map"        to="/move_base_map"/>
	    <remap from="static_map" to="/move_base_static_map"/>
	  </node>
	  
	  <!-- Amcl -->
	  <include if="$(eval mcl=='amcl')" file="$(find raspicat_waypoint_navigation)/launch/amcl.launch">
	    <arg name="initial_pose_x" value="$(arg mcl_init_pose_x)"/>
	    <arg name="initial_pose_y" value="$(arg mcl_init_pose_y)"/>
	    <arg name="initial_pose_a" value="$(arg mcl_init_pose_a)"/>
	  </include>

    <!-- Emcl2 -->
    <include if="$(eval mcl=='emcl2')" file="$(find raspicat_waypoint_navigation)/launch/emcl2.launch">
      <arg name="initial_pose_x"  value="$(arg mcl_init_pose_x)"/>
      <arg name="initial_pose_y"  value="$(arg mcl_init_pose_y)"/>
      <arg name="initial_pose_a"  value="$(arg mcl_init_pose_z)"/>
    </include>

	  <!-- Move base --> 
	  <include file="$(find raspicat_waypoint_navigation)/launch/move_base.launch">
	    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
	    <arg name="waypoint_nav"      value="$(arg waypoint_navigation)"/>
	  </include>
	  
	  <!-- Analog distance sensor to laserscan -->
	  <include if="$(arg usens_conv)" file="$(find analog_distance_sensor_to_laserscan)/launch/analog_distance_sensor_to_laserscan.launch">
	    <arg name="nodelet"                 value="true"/>
	    <arg name="usensor_max_threshold"   value="200"/>
	    <arg name="usensor_min_threshold"   value="30"/>
	  </include>

	  <!-- Waypoint Nav -->
    <node if="$(arg waypoint_navigation)" pkg="raspicat_waypoint_navigation" name="WaypointNav_node" type="WaypointNav_node" output="screen">
      <rosparam command="load" file="$(arg waypoint_yaml_file)"/>
      <param name="initial_pose_x"  value="$(arg mcl_init_pose_x)"/>
      <param name="initial_pose_y"  value="$(arg mcl_init_pose_y)"/>
      <param name="initial_pose_a"  value="$(arg mcl_init_pose_a)"/>
    </node>
	  
	  <!-- Raspicat speak -->
	  <node if="$(arg speak)" pkg="raspicat_speak" type="raspicat_speak_node" name="raspicat_speak_node" 
		clear_params="true" respawn="true" output="screen">
	    <rosparam command="load" file="$(find raspicat_waypoint_navigation)/config/raspicat_speak/speak_list.yaml"/>
	    <rosparam command="load" file="$(find raspicat_waypoint_navigation)/config/raspicat_speak/voice_config.yaml"/>
	  </node>
  </group>
</launch>
