<launch>
  <!-- Arguments -->
  <arg name="open_rviz" default="true"/>
  <arg name="map_file" default="$(find raspicat_navigation)/config/maps/map_sim.yaml"/>
  <arg name="csv_file_path" default="$(find raspicat_navigation)/config/csv/"/>

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>
  
  <!-- Node Run -->
  <node pkg="raspicat_navigation" name="waypoint_set_controller" type="waypoint_set_controller.py" args="$(arg csv_file_path)" required="true" output="screen"/>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
      args="-d $(find raspicat_navigation)/config/rviz/raspicat_navigation_2d.rviz">
    </node>
  </group>
</launch>
