<launch>
  <!-- Arguments -->
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>
  <arg name="waypoint_navigation" default="false"/>
  <arg name="map_file" default="$(find raspicat_navigation)/config/maps/tsukuba/tsukuba_no_grass.yaml"/>
  <arg name="csv_file" default="$(find raspicat_navigation)/config/csv/waypoint_sim.csv"/>

  <!-- gazebo -->
  <include file="$(find raspicat_navigation)/launch/sim/raspicat_map2gazebo_world.launch"/>

  <!-- map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>
  
  <!-- amcl -->
  <include file="$(find raspicat_navigation)/launch/amcl.launch">
    <arg name="initial_pose_x" value="-0.0688619613647"/>
    <arg name="initial_pose_y" value="-1.71242249012"/>
    <arg name="initial_pose_a" value="0"/>
    <arg name="base_frame_id" default="base_footprint"/>
  </include>

  <!-- move_base -->
  <include file="$(find raspicat_navigation)/launch/move_base.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
    <arg name="raspicat_sim" value="true"/>
    <arg name="robot_base_frame" value="base_footprint"/>
    <arg name="obstacles_layer/scan/sensor_frame" value="lidar_link"/>
  </include>

  <!-- waypoint_nav -->
  <group if="$(arg waypoint_navigation)"> 
    <node pkg="raspicat_navigation" name="WaypointNav_node" type="WaypointNav_node" 
      args="$(arg csv_file)" output="screen">
    </node>
  </group>
  
  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
      args="-d $(find raspicat_navigation)/config/rviz/raspicat_navigation_3d.rviz">
    </node>      
  </group>
</launch>