<launch>
  <!-- Arguments -->
  <arg name="open_rviz"           default="true"/>
  <arg name="move_forward_only"   default="false"/>
  <arg name="waypoint_navigation" default="true"/>

  <arg name="world_name"          default="tsudanuma" doc="world_name type [tsudanema, tsukuba]"/>
  <arg name="mcl_map_file"        default="$(find raspicat_navigation)/config/maps/$(arg world_name)/map_$(arg world_name).yaml"/>
  <arg name="move_base_map_file"  default="$(find raspicat_navigation)/config/maps/for_move_base/map_$(arg world_name).yaml"/>
  <arg name="csv_file"            default="$(find raspicat_navigation)/config/csv/waypoint_$(arg world_name).csv"/>

  <!-- Gazebo -->
  <include file="$(find raspicat_navigation)/launch/sim/raspicat_$(arg world_name)_world.launch"/>

  <!-- Map_server -->
  <node pkg="map_server" name="mcl_map_server" type="map_server" args="$(arg mcl_map_file)"/>

  <node pkg="map_server" name="move_base_map_server" type="map_server" args="$(arg move_base_map_file)">
    <remap from="map" to="/move_base_map"/>
    <remap from="static_map" to="/move_base_static_map"/>
  </node>

  <!-- Amcl -->
  <include file="$(find raspicat_navigation)/launch/amcl.launch">
    <arg name="initial_pose_x" value="-9.377"/>
    <arg name="initial_pose_y" value="-74.995"/>
    <arg name="initial_pose_a" value="1.456"/>
    <arg name="base_frame_id" default="base_footprint"/>
  </include>

  <!-- Move_base -->
  <include file="$(find raspicat_navigation)/launch/move_base.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
    <arg name="raspicat_sim" value="true"/>
    <arg name="waypoint_nav" default="$(arg waypoint_navigation)"/>
    <arg name="robot_base_frame" value="base_footprint"/>
  </include>

  <!-- Raspicat speak -->
  <node pkg="raspicat_speak" type="raspicat_speak_node" name="raspicat_speak_node" 
        clear_params="true" respawn="true" output="screen">
    <rosparam command="load" file="$(find raspicat_navigation)/config/raspicat_speak/speak_list.yaml"/>
    <rosparam command="load" file="$(find raspicat_navigation)/config/raspicat_speak/voice_config.yaml"/>
  </node>

  <!-- Waypoint_nav -->
  <group if="$(arg waypoint_navigation)"> 
    <node pkg="raspicat_navigation" name="WaypointNav_node" type="WaypointNav_node" 
      args="$(arg csv_file)" output="screen">
    </node>
  </group>
  
  <!-- Rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
      args="-d $(find raspicat_navigation)/config/rviz/raspicat_navigation_3d.rviz">
    </node>      
  </group>
</launch>