<?xml version="1.0"?>
<launch>

<include file="$(find raspicat_ros)/launch/raspicat.launch"/>

  <node pkg="tf" type="static_transform_publisher" name="raspicat_lrf_tf_broadcaster" args="0.144 0.0 0.04 0 0 0 /base_link /urg_lrf_link 100" />

  <node pkg="urg_node" name="urg_node" type="urg_node" required="true">
    <param name="frame_id" value="urg_lrf_link" />
    <param name="serial_port" value="/dev/ttyACM0" />
  </node>
</launch>
