<launch>
  <!-- Arguments -->
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>
  <arg name="waypoint_navigation" default="true"/>
  <arg name="mcl_map_file" default="$(find raspicat_navigation)/config/maps/for_move_base/map_19.yaml"/>
  <arg name="move_base_map_file" default="$(find raspicat_navigation)/config/maps/tsudanuma/map_19.yaml"/>
  <arg name="csv_file" default="$(find raspicat_navigation)/config/csv/waypoint_19.csv"/>

  <!-- Robot_model import -->
  <arg name="multi_robot_name" default=""/>
  <include file="$(find raspicat_navigation)/launch/include/description.launch.xml"/>
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" value="$(arg multi_robot_name)"/>
  </node>

  <!-- map server -->
   <node pkg="map_server" name="mcl_map_server" type="map_server" args="$(arg mcl_map_file)"/>

  <node pkg="map_server" name="move_base_map_server" type="map_server" args="$(arg move_base_map_file)">
    <remap from="map" to="/move_base_map"/>
    <remap from="static_map" to="/move_base_static_map"/>
  </node>

  <!-- robot localization 
  <include file="$(find robot_localization)/launch/ekf_template.launch"/>

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true" output="screen">
    <rosparam command="load" file="$(find raspicat_navigation)/config/ekf_localization.yaml" />
    <remap from="/odometry/filtered" to="fusion/odom" />
    <remap from="odom0" to="odom" />
    <remap from="imu0"  to="imu/data_raw" />
  </node>-->
  
  <!-- AMCL -->
  <include file="$(find raspicat_navigation)/launch/amcl.launch"/>

  <!-- move_base -->
  <include file="$(find raspicat_navigation)/launch/move_base.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
    <arg name="waypoint_nav" default="$(arg waypoint_navigation)"/>
  </include>

  <!-- motor ON -->
  <node pkg="raspicat_navigation" name="motor_start"
    type="motor_start.py" required="true" output="screen">
  </node>
  
  <!-- waypoint_nav -->
  <group if="$(arg waypoint_navigation)"> 
    <node pkg="raspicat_navigation" name="WaypointNav_node" type="WaypointNav_node" 
      args="$(arg csv_file)" output="screen">
    </node>
  </group>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
      args="-d $(find raspicat_navigation)/config/rviz/raspicat_navigation_3d.rviz">
    </node>
  </group>
</launch>